.login-side {
  background: url('../src/assets/geo2.jpg'), radial-gradient(#b0b0b0, #111);
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  height: initial;
  color: #fff;
  padding-top: 7rem;
}
